<section class="slab">
  <div class="grid">
    <div class="grid__item width-one-fourth">
      <h1>Dashboard</h1>
      <h3><a href="/page/example">Templates</a></h3>
      <h3>Clients</h3>
    </div>

    <div class="grid__item width-three-fourths">
      <h2>In the last 7 Days</h2>

      <div class="grid__item width-one-third">
        <div class="statistic-card">
          <p class="statistic-card__label">Letters Sent</p>
          <span class="statistic-card__number">4234 </span>
          <div class="emoji emoji--med emoji--mail-open"></div>
        </div>
      </div>
      <div class="grid__item width-one-third">
        <div class="statistic-card">
          <p class="statistic-card__label">Emails Sent</p>
          <p class="statistic-card__number">9678  📧</p>
        </div>
      </div>
      <div class="grid__item width-one-third">
        <div class="statistic-card">
          <p class="statistic-card__label">Texts Sent</p>
          <span class="statistic-card__number">9645 </span>
          <div class="emoji emoji--med emoji--to-mobile"></div>          
        </div>
      </div>
    </div>
  </div>

  <div class="grid">
    <div class="grid__item width-two-thirds shift-one-fourth">
      <h2>Templates</h2>
      <div class="grid__item width-one-half">
        <h3>Semi Annual Renewal</h3>
        <h3>Yearly Renewal</h3>
        <h3>Interviews</h3>
        <h3>Appliaction Approvals</h3>
      </div>
      <div class="grid__item width-one-half">
        <h3><strong>9387</strong></h3>
        <h3><strong>7823</strong></h3>
        <h3><strong>23897</strong></h3>
        <h3><strong>3298</strong></h3>
      </div>
    </div>
  </div>
</section>
